body {
  box-sizing: border-box;
  margin: 0;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}